# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
#*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

*.csv

# IDE files
.idea/

# Build files
.gradle/
applet/build/
